<div class="mdl-layout__tab-panel is-active" id="home">
    <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
        <h4>About</h4>
        <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text justify-text">
                    I am a senior undergraduate student majoring in Computer Science at ShanghaiTech University. My topics of interest include computer graphics, computer vision and deep learning. Recently, I work on projects in neural rendering, 3D vision, and graph learning. Outside of academics, my hobbies include creating games, designing webpages, writing songs, and cycling.
                    <div style="margin-top: 30px">
                        <div>
                            <i class="material-icons inline-material-icon">mail</i>
                            <b>Email:</b> <i>wangyh3 [at] shanghaitech [dot] edu [dot] cn</i>
                        </div>
                        <div style="margin-top: 10px">
                            <span>
                                <i class="material-icons inline-material-icon">account_box</i>
                                <a href="/downloads/Resume_YuehaoWang.pdf">[Resume]</a>
                            </span>
                            <span style="margin-left: 10px;">
                                <i class="material-icons inline-material-icon">inbox</i>
                                <a href="https://github.com/yuehaowang" target="_blank">[Github]</a>
                            </span>
                            <span style="margin-left: 10px;">
                                <i class="material-icons inline-material-icon">camera</i>
                                <a href="https://instagram.com/yuehao727" target="_blank">[Photos]</a>
                            </span>
                            <span style="margin-left: 10px;">
                                <i class="material-icons inline-material-icon">person_add</i>
                                <a href="https://linkedin.com/in/yuehaowang" target="_blank">[LinkedIn]</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <h4>Contact</h4>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell contact-list mdl-cell--12-col">
                <div class="mdl-grid mdl-cell--10-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-cell mdl-cell--6-col">
                        <ul class="mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">email</i>
                                    wangyuehao1999#gmail.com
                                </span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">inbox</i>
                                    Github: <a href="https://github.com/yuehaowang" style="margin-left: 5px;" target="_blank">@yuehaowang</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <ul class="mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">camera</i>
                                    Instagram: <a href="https://www.instagram.com/yuehao727/" style="margin-left: 5px;" target="_blank">@yuehao727</a>
                                </span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">person_add</i>
                                    LinkedIn: <a href="https://www.linkedin.com/in/yuehaowang/" style="margin-left: 5px;" target="_blank">yuehaowang</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section> -->

        <h4>Research</h4>
        <section class="work_item section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header style="overflow: hidden;" class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
                <img style="width: 210px;" src="/images/paper_thumbnail/sogcn.png" />
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>SoGCN: Second-Order Graph Convolutional Networks</h5>
                    <p class="authors">
                        <a href="http://peihaowang.github.io">Peihao Wang</a>*, <u>Yuehao Wang</u>*, <a href="http://linhuavvv.com/">Hua Lin</a>, <a href="https://www.cis.upenn.edu/~jshi/">Jianbo Shi</a>
                        <br>Submitted to <i>ICML 2021</i>, under review</i>
                    </p>
                    
                    <div>
                        We introduce a second-order graph convolution (SoGC), a maximally localized kernel, that can express a polynomial spectral filter of order K with arbitrary coefficients. We argue that the SoGC is a simple design capable of forming the basic building block of graph convolution, playing the same role as 3x3 kernels in CNNs.
                    </div>
                </div>
            </div>
        </section>
        <section class="work_item section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header style="overflow: hidden;" class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
                <img style="width: 200px;" src="/images/paper_thumbnail/nhr.jpg" />
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>Multi-view Neural Human Rendering</h5>
                    <p class="authors">
                        <a href="http://wuminye.com">Minye Wu</a>, <u>Yuehao Wang</u>, Qiang Hu, <a href="http://www.yu-jingyi.com/">Jingyi Yu</a>
                        <br>Accepted by <i>CVPR 2020</i>
                    </p>
                    
                    <div>
                        We present an end-to-end Neural Human Renderer (NHR) for dynamic human captures under the multi-view setting. NHR adopts PointNet++ for feature extraction (FE) to enable robust 3D correspondence matching on low quality, dynamic 3D reconstructions.
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a href="http://openaccess.thecvf.com/content_CVPR_2020/papers/Wu_Multi-View_Neural_Human_Rendering_CVPR_2020_paper.pdf" class="mdl-button">View PDF</a>
                    <a href="http://wuminye.com/NHR" class="mdl-button">Project Page</a>
                </div>
            </div>
        </section>

        <h4>Course Projects</h4>
        <section class="work_item section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header style="overflow: hidden;" class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
                <img style="height: 230px;" src="/images/demo/lets_cg.png" />
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>
                        Let's CG
                        <span class="github-btn-icon"><a class="github-button" href="https://github.com/yuehaowang/lets_cg" data-icon="octicon-star" data-show-count="true" aria-label="Star yuehaowang/lets_cg on GitHub">Star</a></span>
                    </h5>
                    
                    <div>
                        This project comprises several essential algorithms and applications of rendering and geometry processing in computer graphics domain, including a tiny encapsulation of OpenGL, Loop subdivision algorithm, ray tracing, global illumination and volume rendering.
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a href="https://github.com/yuehaowang/lets_cg" class="mdl-button">Source Code</a>
                </div>
            </div>
        </section>
        <section class="work_item section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>
                        Reinforcement Cache
                        <span class="github-btn-icon"><a class="github-button" href="https://github.com/peihaowang/DRLCache" data-icon="octicon-star" data-show-count="true" aria-label="Star peihaowang/DRLCache on GitHub">Star</a></span>
                    </h5>
                    <p class="authors">
                        <a href="http://peihaowang.github.io">Peihao Wang</a>*, <u>Yuehao Wang</u>*, Rui Wang*
                        <br>Excellent Course Project at <i>CS181 Artificial Intelligence</i>
                    </p>
                    
                    <div>
                        We adopt a reinforcement learning-based method to cache replacement strategy, aiming to improve the miss rate of existing traditional cache replacement policies. The main idea of modeling is to regard the strategy as a MDP so that we can employ DRL to learn cache eviction patterns.
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a href="https://peihaowang.github.io/archive/Wang_DRL_Cache_2020_report.pdf" class="mdl-button">View Report</a>
                    <a href="https://github.com/peihaowang/DRLCache" class="mdl-button">Source Code</a>
                </div>
            </div>
        </section>
        <section class="work_item section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>Offer Pool</h5>
                    <p class="authors">
                        <u>Yuehao Wang</u>, Zhenghao Ni, Lianghao Zhao
                        <br>Excellent Course Project at <i>CS190B Web and Text Mining</i>
                    </p>
                    
                    <div>
                        We utilize data mining techniques to predict admission of target universities. With text data crawling from related websites, we train a regression model which receives your major, TOEFL, GRE, GPA, target universities, etc., and outputs probabilities that target universities will give you offers.
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a href="https://github.com/yuehaowang/CS190B-WebAndTextMining-OfferPool" class="mdl-button">Source Code</a>
                </div>
            </div>
        </section>
        <section class="work_item section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header style="overflow: hidden;" class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
                <img style="height: 320px;" src="/images/demo/shadow_scent.png" />
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>
                        Shadow Scent (Cubot)
                        <span class="github-btn-icon"><a class="github-button" href="https://github.com/yuehaowang/ShadowScent" data-icon="octicon-star" data-show-count="true" aria-label="Star yuehaowang/ShadowScent on GitHub">Star</a></span>
                    </h5>
                    <p class="authors">
                        <u>Yuehao Wang</u>, <a href="https://www.linkedin.com/in/philipxyc/">Yincen Xia</a>, <a href="http://www.liubai01.cn/">Yintao Xu</a>, <a href="http://peihaowang.github.io">Peihao Wang</a>, Hanbo Xiao
                        <br>The Best Course Project at Roadshow of <i>SEMI1001 Design Thinking</i>
                    </p>
                    
                    <div>
                        A mobile game prototype which is friendly to visually impaired people. After desk research and field interviews on entertainment of visually impaired people, we design this game prototype aiming to improve video game's user experience and sociability for those vulnerable people.
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <a href="https://github.com/yuehaowang/ShadowScent" class="mdl-button">Source Code</a>
                </div>
            </div>
        </section>

        <h4>Teaching</h4>
        <section class="work_item section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text justify-text">
                    <ul>
                        <li><h6>MATH1112 Linear Algebra - Fall 2019, Fall 2020 (TA)</h6></li>
                        <li><h6><a href="http://utechacademy.cn/">UTech Academy AI Camp</a> - Summer 2020 (TA of Data Science Track)</h6></li>
                        <li><h6>SI100 Introduction to Computer Programming - Fall 2018 (TA)</h6></li>
                    </ul>
                </div>
            </div>
        </section>

        <h4>Libraries and Tools</h4>
        <section class="section--center mdl-color--dark mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>
                        Pylash Engine
                        <span class="github-btn-icon"><a class="github-button" href="https://github.com/yuehaowang/pylash_engine" data-icon="octicon-star" data-show-count="true" aria-label="Star yuehaowang/pylash_engine on GitHub">Star</a></span>
                    </h5>
                    Pylash is a 2D game framework in Python, which was developed when I was a high school student. Inspired from my experience designing and developing video games, this framework is integrated with various essential modules including 2D graphics rendering (based on PySide2), event systems, tween animation, multimedia systems, SAT collision detection, etc.
                </div>
                <div class="mdl-card__actions">
                    <a href="https://github.com/yuehaowang/pylash_engine" class="mdl-button">View More</a>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header style="overflow: hidden;" class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
                <img style="height: 280px;" src="/images/demo/greeting_card1.png" />
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>
                        Greeting Card
                        <span class="github-btn-icon"><a class="github-button" href="https://github.com/yuehaowang/greeting_card" data-icon="octicon-star" data-show-count="true" aria-label="Star yuehaowang/greeting_card on GitHub">Star</a></span>
                    </h5>
                    You may want to write some warm words to your best friends, parents or lover. Plain text may bore them. Greeting Card provides a magnificent animation to show the message brick by brick. Receivers just need to tap the screen until they make sense of what you want to express, maybe it's your gratitude or your love.
                </div>
                <div class="mdl-card__actions">
                    <a href="https://github.com/yuehaowang/greeting_card" class="mdl-button">View More</a>
                </div>
            </div>
        </section>

        <h4>Entertainments</h4>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header style="overflow: hidden;" class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
                <img style="width: 270px;" src="/images/Apollo_in_the_sky.png" />
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text justify-text">
                    <h5>Apollo in the Sky</h5>
                    As a music amateur, Yuehao Wang made this toy music album with Apple's Garageband&trade;. The album is named after 1970's United States human spaceflight program "Apollo", standing for authors' exploring in musical world is exactly like a spaceship travelling over the galaxy. Songs in this album are incorporated with various musical styles including rock and roll, Chinese traditional style, house, electro funk, R&B, etc.
                </div>
                <div class="mdl-card__actions">
                    <a href="/player/" target="_blank" class="mdl-button">Listen Online</a>
                </div>
            </div>
        </section>
    </div>
    </section>
</div>